.works{
    text-align: center;
    padding: 400px 0px 400px 0px;
    font-family: 'Basic', sans-serif;
}

.Works_main{
    font-size: 60px;
    font-weight: 700;
}

.Works_comment div{
    margin: 20px 0px 70px 0px;
}

.works span, .card_text{
    font-family: 'Gowun Dodum', sans-serif;
}

.work_row{
    margin-bottom: 23px;
    text-align: left;
    color: black;
}

.myprofile_card{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.myprofile_card:hover{
    transform: scale(1.02);
}