.works{
    text-align: center;
    padding: 400px 0px 300px 0px;
    font-family: 'Basic', sans-serif;
}

.Works_main{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Basic', sans-serif;
}

.works span{
    font-family: 'Gowun Dodum', sans-serif;
}