.about{
    text-align: center;
    padding: 300px 0px 300px 0px;
    font-family: 'Basic', sans-serif;
}

.about p{
    font-size: 30px;
}

.about span{
    font-family: 'Gowun Dodum', sans-serif;
}

.About_main{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Basic', sans-serif;
}

.About_comment div{
    margin: 20px 0px 70px 0px;
}

.profile_card{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.mountain_background img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.myface img{
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid white;
    margin-top: -80px;
}

.Myback_text{
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.Myback_text h3{
    font-weight: 1000;
    font-size: 25px;
    margin: 0px 0px 20px;
}

.Myback_text span{
    font-size: 15px;
}

.boat_background_front img{
    width: 100%;
}

.Edu_text{
    padding: 20px 20px 20px 20px;
    font-size: 13px;
    text-align: center;
}

.high_school{
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
}

.high_all{
    margin: -107px 0px 0px 0px;
    padding: 5px 15px 30px 15px;
}

.univ{
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
}

.univ_all{
    margin: 0px 0px 0px 0px;
    padding: 14px 15px 20px 15px;
}

.space_background{
    height: 50%;
}

.space_background img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Exp_text h3{
    font-weight: 1000;
    font-size: 25px;
    margin: -95px 0px 20px;
    color: white;
}

.Exp_text{
    padding: 0px 20px 20px 20px;
    text-align: center;
    color: white;
}