.contact{
    padding: 0px 0px 300px 0px;
    font-family: 'Basic', sans-serif;
}

.Contact_main{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Basic', sans-serif;
}

.header_c{
    background: #FFB400;
    width: 100%;
}

.contact_container{
    padding: 150px 0px 150px 0px;
}

.contact_form{
    padding: 20px 0px 10px 0px;
}

.contact span{
    font-family: 'Gowun Dodum', sans-serif;
    padding-bottom: 50px;
}

.Contact_comment div{
    margin: 20px 0px 0px 0px;
}

.contact_form button{
    background: linear-gradient(to right, #ee0979, #ff6a00);
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px 0px 7px 0px;
    margin-top: 10px;
    width: 30%;
    z-index: 1;
}

.contact_form button:hover{
    cursor: none;
}