*{
  cursor: none;
}

html{
  scroll-behavior: smooth;
}

.App{
  text-align: center;
}

.container{
  align-items: center;
  justify-content: center;
}

.Top{
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.cursor{
  position: fixed;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: linear-gradient(123deg, #2E99B0 0%, #2E99B0 40%, #FCD77F calc(40% + 1px), 
                            #FCD77F 60%, #FF2E4C calc(60% + 1px), 
                            #FF2E4C 75%, #1E1548 calc(75% + 1px), #1E1548 100%);
  pointer-events: none;
  z-index: 102;
}

.cursor_outer{
  position: fixed;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #23d5ab;
  pointer-events: none;
  z-index: 101;
}