html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

/* Home Section - Start */

.home{
  display: inline-block;
}

.Show_Intro{
  padding: 150px 30px 0px 60px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Basic', sans-serif;
}

.Show_Intro_sub{
  padding: 0px 30px 30px 60px;
  font-size: 15px;
  font-family: 'Basic', sans-serif;
}

.Show_Intro_sub h1{
  font-size: 15px;
  font-weight: 10;
}

.Show_Intro_sub p{
  font-size: 20px;
}

/* Home Section - End */

.content{
  background-color: #61dafb;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 100vh;
}

.Top{
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
  cursor: pointer;
}