html{
  scroll-behavior: smooth;
}

.App{
  text-align: center;
}

.container{
  align-items: center;
  justify-content: center;
}

/* Home Section - Start */

.home{
  padding: 0px 140px 0px 0px;
  /*border: 2px solid red;*/
}

.home_row{
  padding-left: 40px;
}

.Show_Intro{
  padding-top: 140px; 
  font-size: 45px;
  font-weight: bold;
  font-family: 'Basic', sans-serif;
}

.Show_Intro h3{
  padding-top: 10px;
  font-size: 15px;
  font-weight: 5;
}

.Show_Intro p{
  font-size: 17px;
}

/* Home Section - End */

/* About Section - Start */

.about{
  padding: 150px 150px 0px 0px;
  font-family: 'Basic', sans-serif;
}

.about p{
  font-size: 30px;
}

.about span{
  font-family: 'Gowun Dodum', sans-serif;
}

.Educational_background{
  padding-bottom: 100px;
}

.Experience{
  padding-bottom: 100px;
}

.liner{
  border-left: 2px solid;
  height: 500px;
  left: 255px;
  top: 820px;
}

.dot1{
  position: absolute;
  font-size: 50px;
  left: 255px;
}

.dot2{
  position: absolute;
  font-size: 50px;
  left: 255px;
}

.dot3{
  position: absolute;
  font-size: 50px;
  left: 255px;
  top: 780px;
}

/* About Section - End */

/* Skills Section - Start */

.skills{
  left: 0;
  text-align: center;
}

.carousel{
  height: 400px;
}

.Skills_main{
  font-size: 60px;
  font-family: 'Basic', sans-serif;
}

.Skills_comment{
  font-family: 'Gowun Dodum', sans-serif;
}

.Skill_progress{
  padding: 10px 0px;
}

.card{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background-color: linear-gradient(to bottom right, blue, pink);
}

.HTML_progress{

}

.CircleProgressBar{
  position: relative;
  display: block;
  padding: 10px 0px 10px 0px;
  z-index: 1;
  width: 100px;
  height: 100px;
  
}

/* Skills Section - End */

.Top{
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
  cursor: pointer;
}