.Nav_menu_items{
    /*height: 50px;*/
}

.Nav_menu_items .Navbar{
    margin: 0px 10px 10px 0px;
    padding-bottom: 0px;
    z-index: 50;
}

.Nav_menu_items .Nav_ul{
    display: flex;
    height: 40px;
    padding-top: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-family: 'Teko', sans-serif;
} 

.nav_item{
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.nav_item:hover{
    font-size: 35px;
    cursor: none;
}

.nav_item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #2f71cc;
    transition: all 0.2s;
}

.nav_item:hover::before{
    border-radius: 20px;
    width: 100%;
}

/*
.hamburger_menu{
    display: none;
    position: absolute;
    float: right;
}

@media(max-width: 750px){
    .hamburger_menu{
        display: block;
        margin-right: 40px; 
    }
    .nav_item{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        width: 100%;
        top: -480px;
        align-items: center;
        transition: 0.7s;
    }
    .Navigation_menu.show{
        display: flex;
        top: -20px;
        justify-content: center;    
        background-color: royalblue;
    }
}
*/