.logo{
    padding: 0px 15px 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 22px;
}

.Nav_menu_items .Navbar{
    /*clip-path: polygon(0 0, 41% 0, 38% 100%, 0 100%);*/
    margin: 0px 10px 10px 0px;
    padding-bottom: 0px;
    z-index: 50;
}

.Nav_menu_items .Nav_ul, .Nav_menu_items .Nav_ul_mobile{
    display: flex;
    height: 40px;
    padding-top: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-family: 'Kavoon', cursive;
}

.Navbar .Nav_menu_items .Nav_ul_mobile{
    /*background: #2f71cc;*/
}

.nav_item{
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav_item:hover{
    font-size: 25px;
    cursor: none;
    color: #FF1E9D;
}

.nav_item::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #FF1E9D;
    transition: all 0.2s;
}

.nav_item:hover::before{
    border-radius: 20px;
    bottom: -5px;
    width: 100%;
}

.hamburger_menu{
    position: fixed;
    float: right;
}

@media(max-width: 750px){
    .hamburger_menu{
        display: block;
        z-index: 150;
        left: 15px;
        top: 10px;
    }
    .nav_item{
        font-size: 30px;
    }
    .Nav_menu_items .Navbar{
        top: -40px;
        background: transparent;
    }
    .Nav_menu_items .Navbar .Nav_ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        top: -150px;
        transition: 0.7s ease-in;
    }
    .Nav_menu_items .Navbar .Nav_ul_mobile{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 140px;
        align-items: center;
        transition: 0.7s ease-in;
    }
    /*
    .Nav_menu_items .Navbar .Nav_ul_mobile{
        display: flex;
        top: -20px;
        justify-content: center;    
        background-color: royalblue;
    } 
    */
}